@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-default bg-backgroundlight text-black font-monts transition-colors duration-300;
    }
    .dark body{
        @apply bg-backgrounddark text-white transition-colors duration-300;
    }
    input, button{
        @apply bg-backgroundlight text-black transition-colors duration-300;
    }
    .dark input,
    .dark button{
        @apply bg-backgrounddark text-white transition-colors duration-300;
    }
    .dark select{
        @apply bg-backgrounddark text-white transition-colors duration-300;
    }
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(147 197 253);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(72, 158, 255);
}